@import '~@angular/material/theming';
@import './theme';

$primary: map-get($theme, primary);

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.spacer {
  flex: 1 0 auto;
}

.link {
  margin: 0 auto;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: mat-color($primary);
  }
  color: black;
}
