<form [formGroup]="Form" *ngIf="!Success">
  <mat-card-content>
    <span class="mat-dialog-title">VCP-SH-Account erstellen</span>
    <mat-form-field>
      <input matInput placeholder="VCP-Nummer" name="id" formControlName="id" tabindex="1">
      <mat-error *ngIf="Form.controls['id'].hasError('required')">Pflichtfeld</mat-error>
      <mat-error *ngIf="Form.controls['id'].hasError('pattern') || Form.controls['id'].hasError('invalidId')">Keine gültige VCP-Nummer</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Benutzername" name="username" formControlName="username" tabindex="2">
      <mat-error *ngIf="Form.controls['username'].hasError('required')">Pflichtfeld</mat-error>
      <mat-error *ngIf="Form.controls['username'].hasError('pattern')">Kein gültiger Benutzername</mat-error>
      <mat-error *ngIf="Form.controls['username'].hasError('used')">Benutzername bereits in Verwendung</mat-error>

    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" name="email" type="email" formControlName="email" tabindex="3">
      <mat-error *ngIf="Form.controls['email'].hasError('required')">Pflichtfeld</mat-error>
      <mat-error *ngIf="Form.controls['email'].hasError('email')">Keine gültige Email</mat-error>
      <mat-error *ngIf="Form.controls['email'].hasError('used')">Email bereits in Verwendung</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Passwort" name="password" formControlName="password" tabindex="4">
      <mat-error *ngIf="Form.controls['password'].hasError('required')">Pflichtfeld</mat-error>
      <mat-error *ngIf="Form.controls['password'].hasError('Pattern')">Mindestens 8 Zeichen, ein Groß- und ein
        Kleinbuchstabe und eine Zahl
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Passwort wiederholen" name="confirmPassword"
             formControlName="confirmPassword" tabindex="5">
      <mat-error *ngIf="Form.controls['confirmPassword'].hasError('required')">Pflichtfeld</mat-error>
      <mat-error *ngIf="Form.controls['confirmPassword'].hasError('matchPassword')">Passwörter stimmen nicht überein
      </mat-error>

    </mat-form-field>
    <div class="actions">
      <div class="spacer"></div>
      <button mat-button color="primary" type="button" routerLink="/login" tabindex="7">Abbrechen</button>
      <button mat-raised-button color="primary" (click)="onRegisterClick()" tabindex="6">Registrierung abschließen
      </button>
    </div>
  </mat-card-content>
</form>
<mat-card-content *ngIf="Success">
  <span class="mat-dialog-title">VCP-SH-Account erstellen</span>
  <p>Ein Link zum Abschließen der Registrierung wurde verschickt.</p>
</mat-card-content>
