<div *ngIf="!AuthGuardActive" class="container mat-typography">
  <div></div>
  <mat-card [class.wide-card]="Wide">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
    </mat-card-header>
    <div class="card-content">
      <router-outlet></router-outlet>
    </div>
  </mat-card>
  <div></div>
  <mat-toolbar class="bottomBar">
    <mat-toolbar-row>
      <a class="mat-subheading-2 link" href="https://vcp.sh">&copy;2017-{{ Date.FullYear }}, VCP Land Schleswig-Holstein
        e.V.</a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div class="privacy"><a class="mat-subheading-1 link" (click)="onPrivacyClick()">Datenschutzerklärung</a></div>
      <div class="version"><a class="mat-caption">Version {{ Version.version }} ({{ Version.hash }})</a></div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
