<ng-container *ngIf="!AuthGuardActive" class="container mat-typography">
  <div></div>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
    </mat-card-header>
    <router-outlet></router-outlet>
  </mat-card>
  <div></div>
  <mat-toolbar class="bottomBar">
    <mat-toolbar-row>
      <a class="mat-subheading-2 link" href="https://vcp.sh">&copy;2017-{{ Date.FullYear }}, VCP Land Schleswig-Holstein
        e.V.</a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div class="privacy"><a class="mat-subheading-1 link" routerLink="/privacy">Datenschutzerklärung</a></div>
      <div class="version"><a class="mat-caption">Version {{ Version.version }} ({{ Version.suffix }})</a></div>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-container>
